.container, .container-fluid, .container-xl, .container-lg, .container-md, .container-sm {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}

@media (min-width: 990px) {
  .container {
    max-width: 970px;
  }
}

@media (min-width: 1250px) {
  .container {
    max-width: 1230px;
  }
}

.container-fluid {
  max-width: 1430px;
}