@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PT Sans/PTSans-BoldItalic.eot');
  src: url('../fonts/PT Sans/PTSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PT Sans/PTSans-BoldItalic.woff2') format('woff2'),
  url('../fonts/PT Sans/PTSans-BoldItalic.woff') format('woff'),
  url('../fonts/PT Sans/PTSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PT Sans/PTSans-Bold.eot');
  src: url('../fonts/PT Sans/PTSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PT Sans/PTSans-Bold.woff2') format('woff2'),
  url('../fonts/PT Sans/PTSans-Bold.woff') format('woff'),
  url('../fonts/PT Sans/PTSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PT Sans/PTSans-Italic.eot');
  src: url('../fonts/PT Sans/PTSans-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PT Sans/PTSans-Italic.woff2') format('woff2'),
  url('../fonts/PT Sans/PTSans-Italic.woff') format('woff'),
  url('../fonts/PT Sans/PTSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PT Sans/PTSans-Regular.eot');
  src: url('../fonts/PT Sans/PTSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PT Sans/PTSans-Regular.woff2') format('woff2'),
  url('../fonts/PT Sans/PTSans-Regular.woff') format('woff'),
  url('../fonts/PT Sans/PTSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/Bebas Neue/BebasNeue-Regular.eot');
  src: url('../fonts/Bebas Neue/BebasNeue-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Bebas Neue/BebasNeue-Regular.woff2') format('woff2'),
  url('../fonts/Bebas Neue/BebasNeue-Regular.woff') format('woff'),
  url('../fonts/Bebas Neue/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

